@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

body .container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #c42a2a;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  /* margin-bottom: 1rem; */
}

Nav .btn {
  margin-left: 100px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;

  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: rem;
}

Nav .btn:hover {
  background-color: #fff;
  border: 1px solid #ccc;
}

#img {
  margin-left: 15px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 1rem;
}

#h5 {
  align-self: start;
  padding: 0.2rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
  display: table-cell;

  color: #000;
  margin-bottom: 1rem;
}

.tr {
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  vertical-align: middle;
}

.tr td {
  padding: 0.5rem;
  border-radius: 5px;
  width: 300px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.tr {
  text-align: center;
}

.login {
  margin-left: 300px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.login:hover {
  color: #000;
  text-decoration: underline;
}

form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 1rem;
}

.modal {
  position: absolute;
  width: 200px;
  height: 200px;

  bottom: 40px;
  border: 1px solid rgb(13, 13, 13);
  background-color: #aeaca9;
  padding: 20px;
  opacity: 2;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(154, 62, 62, 0.8);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4a4949;
}
